<%= render 'navi' %>

<ul class="breadcrumb">
	<li><%= link_to "一覧", tags_path %><span class="divider">/</span></li>
	<li class="active">照会</li>
</ul>

<p id="notice"><%= notice %></p>

<h1><%= @tag.name %></h1>

<table class="table table-striped table-hover">
	
<thead>
	<tr>
		<th>title</th>
	</tr>
</thead>

<tbody>
<% @tag.memos.each do |memo| %>
<tr>
	<td><%= memo.title %></td>
</tr>
<% end %>
</tbody>

</table>
