<%= render 'navi' %>

<ul class="breadcrumb">
	<li class="active">一覧</li>
</ul>

<%= link_to 'New Memo', new_memo_path, :class => 'btn' %>

<table class="table table-striped table-hover">
	
<thead>
	<tr>
		<th>title</th>
		<th></th>
		<th></th>
	</tr>
</thead>

<tbody>
<% @memos.each do |memo| %>
<tr>
	<td><%= link_to memo.title, memo %></td>
  	<td><%= link_to 'Edit', edit_memo_path(memo) %></td>
  	<td><%= link_to 'Destroy', memo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
<% end %>
</tbody>

</table>
