<table class="table table-striped table-hover">
	
<thead>
	<tr>
		<th>title</th>
		<th>note</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
</thead>

<tbody>
<% @memos.each do |memo| %>
<tr>
	<td><%= memo.title %></td>
  	<td><%= memo.note %></td>
  	<td><%= link_to 'Show', memo %></td>
  	<td><%= link_to 'Edit', edit_memo_path(memo) %></td>
  	<td><%= link_to 'Destroy', memo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
<% end %>
</tbody>

</table>

<%= link_to 'New Memo', new_memo_path %>
