<%= render 'navi' %>

<ul class="breadcrumb">
	<li><%= link_to "一覧", memos_path %><span class="divider">/</span></li>
	<li class="active">照会<span class="divider">/</span></li>
	<li><%= link_to "修正", edit_memo_path(@memo) %></li>
</ul>

<p id="notice"><%= notice %></p>

<fieldset>
  <legend><%= @memo.title %></legend>

<ul class="nav nav-pills">
	<% @memo.tags.each do |tag| %>
		<li><%= link_to tag.name, tag_path(tag) %></li>
	<% end %>
</ul>

<pre>
<%= @memo.note %>
</pre>

</fieldset>

<%= form_for([@memo, @document], :html => {:enctype => 'multipart/form-data'}) do |f| %>
	<%= f.file_field :upload_data, :accept => "image/*;capture=camera" %>
	<%= f.submit %>
<% end %>

<ul class="thumbnails">
	<% @memo.documents.each do |document| %>
		<li class="span3">
			<a href="#" class="thumbnail"><%= image_tag(url_for([@memo, document]), 'data-src' => 'holder.js/300x200') %></a>
		</li>
	<% end %>
</ul>
